
.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  h2{
    font-weight: 900;
}
@media screen and (min-width: 601px) {
    #columnPhoto {
        flex: 70%;
        max-width: 70%;
        padding-left: 18px;
        /* background-color: rgb(126, 35, 35); */
      }

    img{
        width: 100%;
        margin-bottom: 18px;
    }
    h2,h3,h4{
        width: 100%;
        font-size: 18px;
    }
    
    #columnText{
        flex: 30%;
        max-width: 30%;
        height: fit-content;
        position: fixed;
        right: 0px;
        padding: 0 18px;
        /* background-color: rgb(240, 221, 12); */
    }
    .row{
        height: fit-content;
    }
    #row2{
        /* background-color: rgb(64, 16, 236); */
        margin-bottom: 5rem;
        position: relative;
    }
}


@media screen and (max-width: 600px) {
    .column {
        flex: 100%;
        max-width: 100%;
    }
    #row2{
        background-color: rgb(64, 16, 236);
        margin-bottom: 5rem;
    }
   
    img{
        width: 100%;
        margin-bottom: 18px;
    }
    #columnText{
        background-color: rgb(219, 23, 23);
    }
}