
<div class="row d-flex justify-content-center" *ngIf="deviceXs">
    <h1>15M - SPANISH REVOLUTION</h1>
</div>
<div class="row" id="row2">
    <div class="column" *ngFor="let i of numArr" id="columnImg">
        <img loading="lazy" src="assets/imgs/art/event/spanish-revolution/spanish-revolution-{{i}}.jpg">
    </div>
    <div class="column" id="columnText">
        <h2>15M - SPANISH REVOLUTION</h2>
        <h3 class="text-muted">35mm film photographs</h3>
        <h3 class="text-muted">2011</h3>
        <h4>
            Series of photographs taken during the spontaneous demonstrations
            that took place in Barcelona and the rest of the world in May 2011.
        </h4>
    </div>
</div>