.row{
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}
#rowSubheader{
    margin-top: 1rem;
}
#gif{
    /* background-color: rgb(179, 167, 250); */
    height: 100%;
}
img{
    width: 100%;
    border: 1px solid gray;
    border-radius: 5px;
}
a{
    margin-bottom: 4rem;
}
p{
    font-size: 18px;
}

