      <div class="row">
        <div class="col-12 text-center" id="subHeader">
            <h2>Vehicle Registration OOP</h2>
        </div>
    </div> 
    <div class="row" id="p1">
        <div class="col-sm-8">
            <h3>CRUD application</h3>
            <p>The mission for this project is to implement real-world 
                web application able to perform all the tasks needed in 
                a user registration process. 
                For example, a website for a car workshop where users can 
                register their vehicles.
                In other words, this approach implements a persistent 
                storage application: create, read, update and delete (CRUD).</p>
        </div>
    </div>
    <div class="row" id="gif">
        <div class="col-sm-8">
            <img loading="lazy" src="assets/imgs/devs/vehiclesDemo3.gif" alt="vechicle registration gif demo">
        </div>
    </div>
    <div class="row" id="p2">
        <div class="col-sm-8">
            <h3>OOP [HTML5 + CSS3 + TypeScript]</h3>
            <p>This is an Object-oriented programming (OOP) application 
                developed with HTML5, CSS3 and TypeScript [ECMAScript 6] 
                during the Front-end Web Development training program 
                I have been enrolled in at IT Academy of Barcelona Activa. 
                The goal for this exercise was to implement the basic 
                concepts of OOP; encapsulation, abstraction, inheritance and 
                polymorphism.</p>
        </div>
    </div>
    <div class="row" id="rowBtn">
        <div class="col-sm-8 text-center">
            <a href='https://github.com/fausto-luna/vehicles_OOP_TypeScript' class="btn btn-outline-dark">See Code on Github</a>
        </div>
    </div>