
<div class="row d-flex justify-content-center" *ngIf="deviceXs">
    <h1>GREC FESTIVAL</h1>
</div>
<div class="row" id="row2">
    <div class="column" *ngFor="let i of numArr" id="columnImg">
        <img src="assets/imgs/art/event/grec-difusor/grec-difusor-{{i}}.jpg">
    </div>
    <div class="column" id="columnText">
        <h2>GREC FESTIVAL</h2>
        <h3 class="text-muted">Photographs</h3>
        <h3 class="text-muted">2019</h3>
        <h4>
            Photographs taken during the Barcelona Grec Festival.
        </h4>
    </div>
</div>