
<div class="row">
    <div class="col-12 text-center" id="subHeader">
        <h2>Cuck Norris Jokes</h2>
        
    </div>
</div>
<div class="row" id="p1">
    <div class="col-sm-8">
        <h3>Carlos Ray "Chuck" Norris</h3>
        <p>
            You know Chuck Norris is unique, incomparable right? 
            Well, so are the jokes about him and there are plenty of them!
        </p>    
         <p>
             With this little app you can access to an almost infinite number 
            of jokes where our hero of heroes is the main character, of course!
            Your friends are going to be blown up by all the resources you are
            going to deploy at every party.
            Note that many of the jokes you are going to get are IT-oriented.     
        </p>
        <p>  Ready for starting up your career as a comedian?</p>
    </div>
</div>
<div class="row" id="gif">
    <div class="col-sm-8">
        <img src="assets/imgs/devs/chuckNorrisJokesDemo.gif" alt="">
    </div>
</div>
<div class="row" id="p2">
    <div class="col-sm-8">
        <h3>JQuery & AJAX</h3>
        <p>
            In this tiny project I implemented an AJAX GET call with JQuery, 
            receiving results from a REST API endpoint.
            In other words, the application makes a request looking for read-only 
            data located in a remote server. In this case, it access to a JSON 
            (JavaScript Object Notation) file where jokes are stored.
        </p>
        <p>
            This web app is the result of an exercise for the Front-end training
            program I have been enrolled in at IT Academy of Barcelona Activa. 
        </p>
    </div>
</div>
<div class="row" id="rowBtn">
    <div class="col-sm-8 text-center">
        <a href="https://github.com/fausto-luna/Chuck_JQuery_AJAX_TS" class="btn btn-outline-dark">See Code on Github</a>
    </div>
</div>
