footer{
    display: flex;
    position: fixed;
    left: 0;
    bottom: 10px;
    width: 100%;
    height: fit-content;
    justify-content: center;
    padding: unset;
    margin: unset;
}
.wrap{
    display: flex;
    justify-content: space-evenly;
    height: fit-content;
    width: 150px;
}
i{
    /* background-color: rgb(31, 12, 134); */
    font-size: 18px;
    color: rgb(135, 135, 135);
    display: flex;
    background-color: rgb(245, 245, 245);
    height: 28px;
    width: 28px;
    border-radius: 50%;
    padding-top: 5px;
    padding-left: 1px;
    justify-content: center;
}
i:hover{
    color: #000000;
}
.fa-envelope:hover{
    cursor: pointer;
}
.fa-instagram{
    padding-left: 0;
}
.fa-twitter{
    padding-top: 5px;
}
a{
    text-decoration: none;
}