
      <div class="row">
        <div class="col-12 text-center" id="subHeader">
            <h2>Rating</h2>
        </div>
    </div>
    <div class="row article">
        <div class="col-sm-8">
            <h3>How much do you like ice cream?</h3>
            <p>
                Thanks to this app you can easily find out 
                how serious is ice cream for you. For me? Very! I am an 
                ice cream freak, that is why I wanted to help everybody to know, 
                to think about this.
            </p>
            <p>
                With this rating system we can mesure in a scale 1 to 5 the 
                importance of ice cream in your life. Only 3 steps;
            </p>
                <ul>
                    <li>
                        <p> 
                            1 - Hover the mouse pointer over the numbers 
                            -tap if you browse on mobile- to ask yourself
                        </p>
                    </li>
                    <li>
                        <p>
                            2 - Hover the mouse pointer over the ice cream icons 
                            to get some feedback before the decision making
                        </p>
                    </li>
                    <li>
                        <p>
                            3 - Rate by clicking -or taping- the icon you think is more 
                            appropriate.
                        </p>
                    </li>
                </ul>
            
        </div>
    </div>
 

    
          <div class="row " id="row1"><!-- ROW 1 -->
              <div class="col-12 unrate" id="colDoYou">
                <i class="fas icecream" id="hint">5</i>
                <i class="fas icecream">?</i>
                <i class="fas icecream">m</i>
                <i class="fas icecream">a</i>
                <i class="fas icecream">e</i>
                <i class="fas icecream">r</i>
                <i class="fas icecream">c</i>
                <i class="fas icecream" id="hint">4</i>
                <!-- <i class="fas icecream">&nbsp;</i> -->
                <i class="fas icecream">e</i>
                <i class="fas icecream">c</i>
                <i class="fas icecream">i</i>
                <i class="fas icecream" id="hint">3</i>
                <!-- <i class="fas icecream">&nbsp;</i> -->
                <i class="fas icecream">e</i>
                <i class="fas icecream">k</i>
                <i class="fas icecream">i</i>
                <i class="fas icecream">l</i>
                <i class="fas icecream" id="hint">2</i>
                <!-- <i class="fas icecream">&nbsp;</i> -->
                <i class="fas icecream">I</i>
                <i class="fas icecream" id="hint">1</i>
                <!-- <i class="fas icecream">&nbsp;</i> -->
                <i class="fas icecream">o</i>
                <i class="fas icecream">D</i>
                
                
              </div>
           
            
          </div><!-- -------- ROW 1 ENDS -------- -->
          <div class="row align-items-center" id="row2"><!-- -------- ROW 2 -------- -->
            <div class="col unrate" id="row2col1">
               </div>
               <div class="col-sm-6 stars text-center" id="row2col2">
                 
                   <i class="star fas fa-ice-cream fa-spin"></i>
                   <i class="star fas fa-ice-cream fa-spin"></i>
                   <i class="star fas fa-ice-cream fa-spin"></i>
                   <i class="star fas fa-ice-cream fa-spin"></i>
                   <i class="star fas fa-ice-cream fa-spin"></i>
                   
               </div>
               <div class="col unrate" id="row2col3">
               </div>
          </div><!-- -------- ROW 2 ENDS -------- -->
          <div class="row" id="row3"><!-- -------- ROW 3 -------- -->
            <div class="col-12 unrate" id="divMessagge">
                <i class="fas ratingMessage" id="ratingMessage"></i>
            </div>
          </div><!-- -------- ROW 3 ENDS -------- -->
          
          <div class="row article" id="p2">
            <div class="col-sm-8">
                <h3>HTML5 + CSS3 + JavaScript</h3>
                <p>
                    This approach to a rating system could be implemented in any application,
                    or e-commerce website in order to get feedback of products or services 
                    from users. 
                </p>
                <p>
                    It was built with plain HTML, CSS and JavaScript as a result of an exercise 
                    for the Front-end training program I have enrolled in at IT Academy of 
                    Barcelona Activa. 
                </p>
            </div>
        </div>

          <div class="row" id="rowBtn">
            <div class="col-sm-8 text-center">
                <a href="https://github.com/fausto-luna/rating_HTML_CSS_JS" class="btn btn-outline-dark">See Code on Github</a>
            </div>
        </div>
            
           
