
.row{
  display: flex;
  justify-content: center;
  
}
#subHeader{
  display: inline-block;
}
.article{
  margin-top: 3rem;
}
p{
  font-size: 18px;
}
li{
  margin-bottom: 18px;
  
}
ul{ 
  list-style-type: none;
}

#row1{
  /* background-color: gold; */
  direction: rtl;
  display: flex;
  justify-content: center;
  /* background-color: rgb(64, 196, 38); */
  height: 30vh;
}
  
  #hint{
    color: #f4b824;
    font-size: 1rem;
    /* padding-left: 1rem; */
    padding-right: 1rem;
  }
  #hint:hover{
    color: #f4b824;
  }
  #hint:hover ~ #hint, #hint:hover{
    color: #f4b824;
  }


  @media screen and (min-width:685px) {

    
    .icecream{
    text-align: center;
    /* font-size: 6rem; */
    font-size: 9vw;
    /* margin-top: 14vh; */
    color: rgb(245, 245, 245);
    letter-spacing: 6px;
    height: fit-content;
  }

  .star{
    /* color: rgb(242, 194, 0); */
    color: #f4b824;
    /* font-size: 6.5rem; */
    font-size: 7.5vw;
    padding: 0 1vw;  /* space out the stars  */
    margin-top: 3rem;
    
  }
  #divMessagge{
    /* background-color: blue; */
    align-items: center;
    align-content: center;
    color:  rgb(218, 24, 114);
   text-align: center;
    height: 30vh;
    display: flex;
    justify-content: center;
    padding: 5rem;
  }
  #ratingMessage{
    font-size: 4rem;
    padding-top: 2rem;
  }
}




@media screen and (max-width:685px ) {
  #row1{
    /* background-color: rgb(192, 212, 13); */
    height: fit-content;
  }
  #row2{
    background-color: rgb(168, 18, 18);
    height:   90px;
  }
  #row2col1{
    display: none;
    background-color: rgb(185, 17, 17);
  }
  #row2col2{
    width: 100%;
    /* background-color: rgb(25, 34, 165); */
  }
  #row2col3{
    display: none;
  }
#row3{
  height: fit-content;
  
}

  .icecream{
    font-size: 30px;
    margin: 30px 0;
    text-align: center;
    color: rgb(245, 245, 245);

  }
 
  .star{
    /* color: rgb(242, 194, 0); */
    color: #f4b824;
    /* font-size: 6.5rem; */
    font-size: 45px;
    padding: 0 1vw;  /* space out the stars  */
    margin: 0 9px; 
  }

 
  #divMessagge{
    /* background-color: blue; */
    align-items: center;
    align-content: center;
    color:  rgb(218, 24, 114);
   text-align: center;
    
    display: flex;
    justify-content: center;
    
    
  }
  #ratingMessage{
    font-size: 2rem;
  }


}

  #colDoYou{
    display: flex;
    /* background-color: rgb(9, 9, 197); */
    justify-content: center;
    align-content: center;
    align-items: center;
  }
  
  .icecream:hover ~ .icecream, .icecream:hover{
    color: rgb(218, 24, 114);
  }
  
  #row2{
    height: 20vh;
    background-color: rgb(245, 245, 245);
  }
  
  #row2col1{
    /* background-color: indianred !important; */
    height: 100%;
  }
  
  /* #row2col2{
    background-color: gray;
    height: 100%;
  } */
  
  #row2col3{
    /* background-color: green !important; */
    height: 100%;
  }
 
  
  .stars{
    direction: rtl;
    /* width: fit-content; */
  }  
  
  
  
  .star.rated{
    color: rgb(218, 24, 114);
  }
  
  .star:hover ~ .star, .star:hover{
    color: rgb(218, 24, 114);
  }
  
 
  
  
  
 
  a{
    margin: 3rem 0;
  }