
<div class="row d-flex justify-content-center" *ngIf="deviceXs">
    <h1>LA TÈRMICA - FABRICA DE DESITJOS</h1>
</div>
<!-- <div class="row">
    <div class="column">
        <div id="embed-alacarta-77181">VIDEO</div>
        <iframe width="560" height="315" src="http://votv.alacarta.cat/granollers/noticia/roca-umbert-viu-un-cap-de-setmana-ple-dactivitats-per-nadal" frameborder="0" allowfullscreen></iframe>

    </div>
</div> -->
<div id="embed-alacarta-32518"></div>
<script src="https://www.alacarta.cat/js/embed.js" data-container="embed-alacarta-32518" data-src="5e0246cd51af8a35849d1f56/5e0259115dbe0c419c1ae042"></script>
<div class="row" id="row2">
    <div class="column" *ngFor="let i of numArr" id="columnImg">
        <img loading="lazy" src="assets/imgs/art/art-direction/fabrica-desitjos/fabrica-desitjos-{{i}}.jpg">
    </div>
    <div class="column" id="columnText">
        <h2>La Tèrmica - Fàbrica de Desitjos</h2>
        <h3 class="text-muted">Performance, live-cinema, acting, photography, installation.</h3>
        <h3 class="text-muted">2019</h3>
        <p>Family-oriented show and workshop performed in collaboration with artists
             
            <a href="https://www.clarasaez.com/">Clara Sáez </a> and 
            <a href="https://www.instagram.com/mariajoverpujol/">Maria Jover</a>
            at La Tèrmica de Roca Umbert in Granollers, Barcelona during Christmas 2019.
        </p>
        <p>
            Transformation of an old thermal power plant into a wish factory where families 
            collectively manufactured individual and global wishes. Before manufacturing 
            their wishes, children and adults received a little training through sounds and a live-cinema performance.
             Later they began the elaboration of the piece at the assembly area, passing through the 
            <a href="https://latermicafabricadedesitjos.tumblr.com/">light-fixation boot</a> , finishing the process with the placement of the wish in 
             the storage area, obtaining as a result an installation of collective creation.
        </p>
           <p>
            Commissioned by <a href="http://rocaumbert.com/">Roca Umbert Fàbrica De Les Arts</a> 
           </p>
           
        
    </div>
</div>

