
    
    <div class="row" id="personal">
      <div class="col-12 text-center">
        <h2>PERSONAL WORK</h2>
      </div>
    </div>

    <div class="row d-flex section" id="row3">
      <!----------------- LAST DAY ON EARTH ----------------->

        <div class="col-md-4" id="row3col1">

          <a class="nav-link tultip" routerLink="last-day-on-earth" routerLinkActive="active">
            <img src="assets/imgs/art/personal/last-day-on-earth/last-day-on-earth-4.jpg">
          </a>
          
            <h3 class="tultiptext">LAST DAY ON EARTH</h3>
            <h4 class="text-muted tultiptext">Photography</h4>
            <h4 class="text-muted tultiptext">2017 – 2020</h4>
          
          
        
        </div>
        
    <!----------------- WEST NINE ----------------->
    <!-- <div class="col-md-6 justified-right" >

      <a class="nav-link" routerLink="/art/west-nine">
        <img src="assets/imgs/art/west-nine/Fausto-390.jpg">
      </a>

      <h2>WEST NINE</h2>
      <h3>2013-2015</h3>

    </div> -->
    <!-- --------------- INSTANTE NO DECISIVO ----------------->
    <div class="col-md-4">

      <a class="nav-link" routerLink="instante-no-decisivo">
        <img src="assets/imgs/art/personal/instante-no-decisivo/instante-no-decisivo-66.jpg">
      </a>

      <h3>INSTANTE NO DECISIVO</h3>
      <h4 class="text-muted">Photography</h4>
      <h4 class="text-muted">2012 – 2019</h4>
    </div>
 
    <div class="col-md-4">

      <a class="nav-link" routerLink="la-cornisa">
        <img src="assets/imgs/art/personal/la-cornisa/la-cornisa-1.jpg">
      </a>



      <h3>LA CORNISA</h3>
      <h4 class="text-muted">Photography</h4>
      <h4 class="text-muted">2011</h4>
    </div>

<!----------------- FIRST LIGHT ----------------->
<div class="col-md-4">
  <a class="nav-link" routerLink="luz-primera">
    <img src="assets/imgs/art/personal/luz-primera/luz-primera-0.jpg">
  </a>



  <h3>LUZ PRIMERA</h3>
  <h4 class="text-muted">Photography</h4>
  <h4 class="text-muted">2008 – 2011</h4>
</div>
  </div>
<!-- ---------------HIGH LAND--------------- -->
    <!-- <div class="col-md-6 justified-right">

      <a class="nav-link" routerLink="/art/high-land">
        <img src="assets/imgs/art/coru/IMG_4249-1.JPG">
      </a>



      <h2>HIGH LAND</h2>
      <h3>2014-2019</h3>
    </div> -->
<!----------------- LA CORNISA ----------------->



<!----------------- ROW ENDS ----------------->
<!----------------- ART DIRECTION ----------------->
<div class="row section-title white-bg">
  <div class="col-12 text-center">
    <h2 alt='art direction' id="art-dir">ART DIRECTION</h2>
  </div>
</div>

<div class="row section white-bg" id="">

  <div class="col-md-4">
    <a class="nav-link" routerLink="fabrica-desitjos">
      <img src="assets/imgs/art/art-direction/fabrica-desitjos/fabrica-desitjos-0.jpg">
    </a>
  
  
  
    <h3>LA TÈRMICA – FÀBRICA DE DESITJOS</h3>
    <h4 class="text-muted">Performance, live cinema, acting, photography, installation, sounds.</h4>
    <h4 class="text-muted">2019</h4>
  </div>
  <div class="col-md-4">
    <a class="nav-link" routerLink="uay-balam-art">
      <img src="assets/imgs/art/art-direction/uay-balam/uay-balam-27.jpg">
    </a>
  
  
  
    <h3>UAY BALAM</h3>
    <h4 class="text-muted">Art Direction – Communication</h4>
    <h4 class="text-muted">2016 – 2019</h4>
  </div>
</div>
<!----------------- PORTRAIT ----------------->
<!-- <div class="row section">
  <div class="col-12 text-center">
    <h2 alt='portrait'>PORTRAIT</h2>
  </div>
</div> -->
<!----------------- FOOD PHOTOGRAPHY ----------------->
<div class="row section-title">
  <div class="col-12 text-center">
    <h2 alt='product photography'>FOOD PHOTOGRAPHY</h2>
  </div>
</div>

<div class="row section">
 
  <div class="col-lg-8" id="food">
    <a class="nav-link" routerLink="food-photography" routerLinkActive="active">
      <img src="assets/imgs/art/food/uay-balam/uay-balam-23.jpg" alt="food photography">
    </a>
  </div>

</div>
<!----------------- EVENT ----------------->
<div class="row section-title white-bg">
  <div class="col-12 text-center">
    <h2>EVENT PHOTOGRAPHY</h2>
  </div>
  
</div>


  <div class="row d-flex section white-bg" id="row5">
    <!----------------- GREC ----------------->
      <div class="col-md-4" id="">

        <a class="nav-link" routerLink="grec-difusor" routerLinkActive="active">
          <img src="assets/imgs/art/event/grec-difusor/grec-difusor-14.jpg">
        </a>
        
        <h3>GREC – DIFUSOR</h3>
        <h4 class="text-muted">Photography</h4>
        <h4 class="text-muted">2019</h4>
      
      </div>
      <div class="col-md-4">
        <a class="nav-link" routerLink="facil-maldita-nerea" routerLinkActive="active">
          <img src="assets/imgs/art/event/facil-maldita-nerea/facil-maldita-nerea-15.jpg">
        </a>
      <h3>FÁCIL - MALDITA NEREA</h3>
      <h4 class="text-muted">Photography</h4>
      <h4 class="text-muted">2011</h4>
    </div>
      
      
      <!----------------- ROW ENDS  ----------------->
      <!-- <div class="row"> -->
        <!----------------- 15M ----------------->
      <div class="col-md-4">
        <a class="nav-link" routerLink="spanish-revolution" routerLinkActive="active">
          <img src="assets/imgs/art/event/spanish-revolution/spanish-revolution-13.jpg">
        </a>
        
        <h3>15M - SPANISH REVOLUTION</h3>
        <h4 class="text-muted">Photography</h4>
        <h4 class="text-muted">2011</h4>
      </div>

      <div class="col-md-4">
        <a class="nav-link" routerLink="medieval-wedding" routerLinkActive="active">
          <img src="assets/imgs/art/event/medieval-wedding/medieval-wedding-0.jpg">
        </a>
        
        <h3>MEDIEVAL WEDDING</h3>
        <h4 class="text-muted">Photography</h4>
        <h4 class="text-muted">2011</h4>
      </div>


      </div>
        