.row{
    display: flex;
    justify-content: center;
    height: fit-content;
    padding-left: 32px;
    padding-right: 32px;
}
*{
    font-size: 18px;
}
#personal{
    /* background-color: rgb(211, 38, 199); */
    padding-bottom: 2rem;
}
.section-title{
    /* background-color: rgb(162, 40, 179); */
    padding-top: 3rem;
    padding-bottom: 2.5rem;
}
.section{
    /* background-color: rgb(13, 132, 168); */
    padding-bottom: 2.5rem;
}
a,.col-md-4,.col-lg-7{
    /* background-color: rgb(174, 64, 64); */
   padding: unset;
   margin: unset;
}


.white-bg{
background-color: #fff;
}


img{
    width: 100%;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 5px;
}
h3{
    
    margin-top: 1rem;
    
}
h3,h4{
    padding-left: 2px;
    
}
h2,h3{
font-weight: 900;
/* background-color: rgb(25, 56, 231); */
}



