<div class="row" id="subHeader">
    <div class="col-12 text-center" >
        <h2>Vioko</h2>
    </div>
</div>
<div class="row">
    <div class="col-sm-8">
        <h3>WordPress</h3>
        <p>
           <a href="http://vioko.es/">vioko.es</a> is a corporative website for VIOKO
            that I built with WordPress, an open-source content management 
            system that is easy to use and very simple to keep up to 
            date by users and non IT-oriented administrators. 
            This is a great solution for clients with tied schedules 
            that need quick and reliable deployment. 
        </p>
    </div>
</div>
<div class="row">
    <div class="col-sm-8">
        <img loading="lazy" src="assets/imgs/devs/viokoDemo.gif" alt="vioko gif navigation demo">
    </div>
</div>