<div *ngIf="!deviceXs" class="row text-center" id="row2">
    <div class="col-12">
        <h2>ABOUT</h2>
    </div>
</div><!--row2 ends-->

<div class="row" id="row3">

    <div class="col" id="text">
        <h3>
            Hola! 
            <br>
            <br>
            I'm Fausto Luna, a dreamer/entrepreneur
            born in Buenos Aires in 1986, currently based in Barcelona.
            <br>
            <br>
            Since 2008 I have been exploring a variety of artistic disciplines 
            with an special focus in photography and audiovisual arts.
            However, lately I have been immerse in the tech exploration 
            focusing in web development.
            <br>
            <br>
            In 2020 I feel like I want to be at the collision of art and technology.
        </h3>

            <!-- As a customer-focused creative I bring together
            art and technology in order to 
            build actual assets for people and organisations.
            My process is driven by the use of imagination 
            to create original ideas that lead to a particular project 
            with its own identity, usually having the creation of 
            audiovisual pieces of content and/or a web application development
            and design as core mission. -->
            
            <!-- At the end of the day my goal is to provide a 
            productive, imaginative and beautiful work 
            that exceeds client's expectations. -->
            
            
            <!-- My toolkit is composed by some programming languages 
            like SQL, HTML5, CSS3, Sass, JavaScript, TypeScript, 
            JQuery & AJAX, libraries like Leaflet, Bootstrap 
            and frameworks like Angular.
            Also open-source content management systems like Wordpress 
            with its e-commerce plugin WooCommerce can be a solution 
            for me to work with. -->
    </div>
        
            
</div>
   
