
    <app-header-photo *ngIf="!deviceXs"></app-header-photo>
      <!-- <router-outlet></router-outlet> -->
      <!-- <router-outlet name='last_day'></router-outlet> -->
    <div class="row d-flex" id="row3">
      <!----------------- LAST DAY ON EARTH ----------------->
        <div class="col-md-6" id="row3col1">

          <a class="nav-link" routerLink="last-day-on-earth" routerLinkActive="active">
            <img src="assets/imgs/photo/last-day-on-earth-low-res/last-day-on-earth-low-res-4.jpg">
          </a>
          
          <h2>LAST DAY ON EARTH</h2>
          <h3>2017-2020</h3>
        
        </div>
        
    <!----------------- WEST NINE ----------------->
    <!-- <div class="col-md-6 justified-right" >

      <a class="nav-link" routerLink="/photo/west-nine">
        <img src="assets/imgs/photo/west-nine/Fausto-390.jpg">
      </a>

      <h2>WEST NINE</h2>
      <h3>2013-2015</h3>

    </div> -->
    <!-- --------------- INSTANTE NO DECISIVO ----------------->
    <div class="col-md-6">

      <a class="nav-link" routerLink="instante-no-decisivo">
        <img src="assets/imgs/photo/instante-no-decisivo-low-res/instante-no-decisivo-low-res-1.jpg">
      </a>

      <h2>INSTANTE NO DECISIVO</h2>
      <h3>2012-2019</h3>
    </div>
<!-- ---------------HIGH LAND--------------- -->
    <!-- <div class="col-md-6 justified-right">

      <a class="nav-link" routerLink="/photo/high-land">
        <img src="assets/imgs/photo/coru/IMG_4249-1.JPG">
      </a>



      <h2>HIGH LAND</h2>
      <h3>2014-2019</h3>
    </div> -->
<!----------------- LA CORNISA ----------------->
    <div class="col-md-6">

      <a class="nav-link" routerLink="la-cornisa">
        <img src="assets/imgs/photo/la-cornisa-low-res/la-cornisa-low-res-1.jpg">
      </a>



      <h2>LA CORNISA</h2>
      <h3>2011</h3>
    </div>


</div>
