
.row{
    margin-top: 2rem;
    margin-bottom: 4rem;
}
img{
    width: 100%;
}
h2,h3{
    /* width: 100%; */
    /* margin-left: 1.6vw; */
    margin-left: 15px;
    
    
}
h2{
font-weight: 900;
font-size: 23px;
/* background-color: rgb(25, 56, 231); */
}
h3{
    font-size: 18px;
    /* background-color: rgb(255, 234, 0); */
}
@media screen and (min-width: 992px){
    .justified-right{
        margin-left: 40vw;
    }
}

