
<div class="row d-flex justify-content-center" *ngIf='deviceXs'>
    
   <h1>MEDIEVAL WEDDING</h1>
</div>
   <div class="row" id="row2">
       <div class="column" *ngFor="let i of numArr" id="columnImg">
           <img src="assets/imgs/art/event/medieval-wedding/medieval-wedding-{{i}}.jpg">
       </div>
       <div class="column" id="columnText">
           <h2>MEDIEVAL WEDDING</h2>
           <h3 class="text-muted">Photographs</h3>
           <h3 class="text-muted">2011</h3>
           <h4>Series of photographs taken during a medieval wedding ceremony that took place in Madrid.</h4>
       </div>
   </div>
   