a{
  color: white;
  
  }
  a:hover{
    border: 2px solid rgb(255, 255, 255);
    transform: scale(1.2);
    transition: all 0.3s ease-in-out;
    
  }
@media screen and (max-width: 320px){}
  #blackMoon{
    height: 32px;
    width: 32px; 
    /* height: 12vw;
    width: 12vw; */
    background-color: #020202;
    border-radius: 50%;
    /* display: inline-block; */
   
}


@media screen and (min-width: 321px){}
  #blackMoon{
    height: 40px;
    width: 40px; 
    /* height: 12vw;
    width: 12vw; */
    background-color: #020202;
    border-radius: 50%;
    /* display: inline-block; */

}
@media screen and (max-width: 1024px){
  .tultip .tultiptext {
    visibility: visible;
    
  }

}
@media screen and (min-width: 1024px){}

  .tultip .tultiptext {
    visibility: hidden;
  }

  /* Show the tultip text when you mouse over the tultip container */
  .tultip:hover .tultiptext {
    visibility: visible;
    background-color: rgb(245,245,245);
  }


 /* tultip container */
 .tultip {
  color: #000000;
  position: relative;
  display: inline-block;
  
}


/* tultip text */
.tultip .tultiptext {
  visibility: hidden;
  width: 120px;
  background-color: rgb(245,245,245);
  color: black;
  font-size: 18px;
  font-weight: 200;
  letter-spacing: 1px;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
 
  /* Position the tultip text - see examples below! */
  position: absolute;
  z-index: 1;
  width: 120px;
  top: 100%;
  left: 50%;
  margin-left: -60px; /* Use half of the width (120/2 = 60), to center the tooltip */
  margin-top: 3mm;
}