<div class="row d-flex justify-content-center" *ngIf="deviceXs">
    <h1>FOOD PHOTOGRAPHY</h1>
</div>
<div class="row" id="row2">
    <div class="column" *ngFor="let i of numArr" id="columnImg">
        <img src="assets/imgs/art/food/uay-balam/uay-balam-{{i}}.jpg">
    </div>
    <div class="column" id="columnText">
        <h2>FOOD PHOTOGRAPHY</h2>
        <h3 class="text-muted">Digital photographs</h3>
        <h3 class="text-muted">2016 – 2019</h3>
        <p>
            Gastronomic photoshoot and styling of desserts and ice creams 
            collection for official ecommerce website and social media channels.
        </p>
        <p>
           Comissioned by <a href="https://www.uaybalam.com/">Uay Balam</a>.
        </p>
    </div>
</div>