
<!-- <router-outlet></router-outlet> -->
    <div class="row">
        <div class="col-sm-4">
            <a class="nav-link" routerLink="this-web">
                <img src="assets/imgs/devs/faustoluna-com.png">
              </a>
              <h2>faustoluna.com</h2>
              <h3>[Angular + Bootstrap]</h3>
        </div>
        <div class="col-sm-4">
            <a class="nav-link" routerLink="/devs/vehicle-registration">
                <img src="/assets/imgs/devs/vehicle-registration.png">
              </a>
            
              <h2>Vehicle Registration OOP</h2>
              <h3>[HTML5 + CSS3 + TypeScript]</h3>
              <!-- <h3>This is OOP solution I developed with HTML + CSS + TypeScript (ES6) for the Front-end programme @ IT Academy - Cibernarium Barcelona Activa</h3> -->
        </div>


    </div>
    <div class="row">
        
    

    <div class="col-sm-4" id="row3col2">
        <a class="nav-link" routerLink="/devs/rockets">
            <img src="/assets/imgs/devs/rockets-screenshot.png">
        </a>
        <h2>Rockets OOP</h2>
        <h3>[HTML5 + CSS3 + TypeScript]</h3>
        <!-- <h3>This is OOP solution I developed with HTML + CSS + TypeScript (ES6) for the Front-end programme @ IT Academy - Cibernarium Barcelona Activa</h3> -->
    </div>
    <div class="col-sm-4">
        <a class="nav-link" routerLink="chuck-norris-jokes">
            <img src="assets/imgs/devs/chuck-norris-jokes.png">
          </a>
          <h2>Chuck Norris Jokes </h2>
          <h3>[HTML5 + CSS3 + JavaScript + JQueary & AJAX]</h3>
    </div>
  
</div>

    <div class="row text-center">
        
        <div class="col-sm-6">
            

            
                <a class="nav-link" routerLink="/devs/rating-html-css-js">
                    <img src="assets/imgs/devs/rating-screenshot.png">
                  </a>
                  <h2>Rating</h2>
                  <h3>[HTML5 + CSS3 + JavaScript]</h3>
                  <!-- <h3>This is rating solution I developed with HTML + JS + CSS at the Front-end programme @ IT Academy - Cibernarium Barcelona Activa</h3> -->
            
                
          
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <a class="nav-link" routerLink="/devs/uaybalam">
                <img src="assets/imgs/devs/uaybalam.png">
              </a>
              <h2>uaybalam.com</h2>
              <h3>[WordPress + WooCommerce]</h3>
        </div>

        <div class="col-sm-4">
            <a class="nav-link" routerLink="/devs/vioko">
                <img src="assets/imgs/devs/vioko.png">
              </a>
              <h2>vioko.es</h2>
              <h3>[WordPress]</h3>
        </div>
    </div>
    




