.row{
    /* height: 100vh; */
    margin-top: 1rem;
    margin-bottom: 3rem;
    justify-content: center;
    padding-left: 32px;
    padding-right: 32px;
}
a,.col-sm-5, .col-sm-6{
padding: unset;
margin: unset;
}
img{
    width: 100%;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 5px;
}
h2,h3{
    margin-left: 2px;
    
}
h2{
    font-weight: bold;
    font-size: 20px;
    margin-top: 9px;
}
h3{
    font-weight: lighter;
    font-size: 18px;
   
}
p{
    font-size: 8px;
}