<!-- 
    <div ngbDropdown class="d-inline-block">
      <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Menu</button>

      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <button ngbDropdownItem routerLink="/about">
            ABOUT
        </button>
        <button ngbDropdownItem routerLink="/devs">
            &lt;&#x0002F;DEVS&gt;
        </button>
        <button ngbDropdownItem routerLink="/photo">
            PHOTO
        </button>
        <button ngbDropdownItem routerLink="/contact">
            CONTACT
        </button>
        <button ngbDropdownItem routerLink="/shop">
            SHOP 
        </button>
      </div>

    </div> -->

    <div class="dropdown" mdbDropdown>

        <button mdbDropdownToggle mdbBtn color="primary" class="dropdown-toggle waves-light" type="button"
          mdbWavesEffect>
          Dropdown
        </button>
      
        <div class="dropdown-menu dropdown-primary">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </div>