#row2{
    margin: auto;
}
h1,h2{
    font-size: 18px;
}
h2{
    margin-top: 1rem;
}
p{
    font-size: 18px;
}
.row{
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}
#rowSubheader{
    margin-top: 1rem;
}

img{
    width: 100%;
    border: 1px solid gray;
    border-radius: 5px;
}
a{
    margin-bottom: 4rem;
}
#gifMobile{
    width: 70%;
}
.navigationDemo{
    margin-top: 8px;
}
