
<div class="row">
    <div class="col-12 text-center" id="subHeader">
        <h2>This Website</h2>
        <h3>Angular + Bootstrap</h3>
    </div>
</div>
<div class="row" id="p1">
    <div class="col">
        <p>// ARTÍCULO</p>
        <p>// párrafo sobre las funcionalidades de esta web</p>
    </div>
</div>
<div class="row" id="gif">
    <div class="col">
        // previsualizacion GIF
    </div>
</div>
<div class="row" id="p2">
    <div class="col">
        <p>// párrafo sobre las funcionalidades de esta web</p>
        <p>// descripcion técnica detallada.</p>
    </div>
</div>
<div class="row" id="rowBtn">
    <div class="col">
        <button class="btn btn-outline-dark">See Code on Github</button>
    </div>
</div>
