
<div class="row" id="rowSubheader">
    <div class="col-12 text-center" id="subHeader">
        <h2>faustoluna.com</h2>
    </div>
</div>
<div class="row" id="p1">
    <div class="col-sm-8">
        <h3>Angular portfolio v1.0</h3>
        <p>
            This website was meant to be an online portfolio
            where I can showcase my work as an artist
            and web developer.
        </p>
        <p>
            At the same time, this particular web application
            is the result of the Front-end Web Development training
            program I have been enrolled in since November 2019
            until July 2020 at IT Academy of Barcelona Activa.
        </p>
    </div>
</div>
<div class="row" id="gif">
  <div class="col-sm-8">
    <img src="assets/imgs/devs/demoWebNavigation.gif" alt="web navigation gif demo">
  <p class='navigationDemo'>Web desktop navigation demo</p>
  </div>
  
</div>
<div class="row">
    <div class="col-sm-8">
        <h3>The seed</h3>
        <p>
          As soon as I finished my photography studies
            back in 2008 I realised that displaying my work
            on the web was highly important, so immediately after
            graduating, being able to build my own website
            from scratch was kind of a dream. However, since
            the first time I engaged with many of all the
            online portfolio templates out there knew that
            templates are great solutions, but for some reason
            I did not have enough. I wanted to know what I was doing
            AND do it limitless. Well, looks like the time has come.
        </p>
    </div>
</div>
<div class="row" id="p2">
    <div class="col-sm-8">
        <h3>Angular + Bootstrap</h3>
        <p>I fully developed this mobile and desktop web app with Angular,
            the worldwide spread framework developed by Google. 
            why Angular?
            Basically, it is a combination of HTML and TypeScript.
            Also @ng-bootstrap (Angular powered Bootstrap) was installed
            in order to optimise the user interface styling.
        </p>
    </div>
</div>
<div class="row">
    <div class="col-sm-8">
        <h3>Responsive and mobile-first</h3>
        <p>
            Angular Material is installed in this app in order to
            build a consistent and modern UI component infrastructure,
            providing highly useful utilities for the development of
            responsive layouts that react to screen-size changes,
            having as result a dynamic UI that works across mobile,
            web and desktop.
        </p>
        <p>
            Bootstrap responsive layout is also implemented by the
            specification of its media query ranges —or breakpoints— 
            in Bootstrap's source Sass files. However, additional
            CSS media queries were implemented for behavior customisation.
        </p>
    </div>
</div>
<div class="row text-center" id="rowGifMobile">
  <div class="col-sm-4">
    <img src="assets/imgs/devs/demoMobileNavigation.gif" alt="mobile navigation gif demo with iPhone X" id="gifMobile">
  <p class='navigationDemo'>iPhone X navigation demo</p>
  </div>
</div>
<div class="row">
    <div class="col-sm-8">
        <h3>Animations</h3>
        <p>
            It was important for me to add Angular animations to this project.
            Nothing too flashy, just very simple slide-in/slide-out transitions
            between pages that perform the illusion of motion, making a significant
            improvement to the app as well as providing an accesible, relevant
            and meaningful user experience (UX).
        </p>
    </div>
</div>
<div class="row">
    <div class="col-sm-8">
        <h3>TODOs</h3>
        <p>
            I have so much to do! Several improvements and modifications are 
            still to come to this project. In the upcoming versions I am adding 
            features like Internationalisation, eCommerce structure development 
            (SHOP page)
            and lazy loading, among others. In case you have questions and or
            suggestions please contact me. I will be happy to hear from you.
        </p>
    </div>
</div>
<div class="row">
    <div class="col-sm-8">
        <h3>Ng version</h3>
        <p>Deeper tech specification just in case your are really courios about it.</p>
    </div>
    <div class="col-sm-8">
        <p>
            Angular CLI: 9.1.12<br>
            Node: 12.18.0<br>
            OS: darwin x64
        </p>
        <p>
            Angular: 9.1.12 <br>
            ... animations, cli, common, compiler, compiler-cli, core, forms <br>
            ... platform-browser, platform-browser-dynamic, router <br>
            Ivy Workspace: Yes
        </p>
    </div>
</div>
<div class="row">
    <div class="col-sm-8">

        <table class="table">
            <thead>
              <tr>
                <th scope="col">Package</th>
                <th scope="col">Version</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">@angular-devkit/architect</th>
                <td>0.901.12</td>
              </tr>
              <tr>
                <th scope="row">@angular-devkit/build-angular</th>
                <td>0.901.12</td>
              </tr>
              <tr>
                <th scope="row">@angular-devkit/build-optimizer</th>
                <td>0.901.12</td>
              </tr>
              <tr>
                <th scope="row">@angular-devkit/build-webpack</th>
                <td>0.901.12</td>
              </tr>
              <tr>
                <th scope="row">@angular-devkit/core</th>
                <td>9.1.12</td>
              </tr>
              <tr>
                <th scope="row">@angular-devkit/schematics</th>
                <td>9.1.12</td>
              </tr>
              <tr>
                <th scope="row">@angular/cdk</th>
                <td>10.2.0</td>
              </tr>
              <tr>
                <th scope="row">@angular/flex-layout1</th>
                <td>9.0.0-beta.3</td>
              </tr>
              <tr>
                <th scope="row">@angular/material</th>
                <td>10.2.0</td>
              </tr>
              <tr>
                <th scope="row">@ngtools/webpack</th>
                <td>9.1.12</td>
              </tr>
              <tr>
                <th scope="row">@schematics/angular</th>
                <td>9.1.12</td>
              </tr>
              <tr>
                <th scope="row">@schematics/update</th>
                <td>0.901.12</td>
              </tr>
              <tr>
                <th scope="row">rxjs</th>
                <td>6.5.5</td>
              </tr>
              <tr>
                <th scope="row">typescript</th>
                <td>3.8.3</td>
              </tr>
              <tr>
                <th scope="row">webpack</th>
                <td>4.42.0</td>
              </tr>
            </tbody>
          </table>
    </div>

</div>
<div class="row" id="rowBtn">
        <a href='https://github.com/fausto-luna/angular-portfolio' class="btn btn-outline-dark">See Code on Github</a>
</div>
