
.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  *{
      font-size: 18px;
  }
  h2{
    font-weight: 900;
}
img{
    width: 100%;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 5px;
}
a{
    font-weight: bolder;
    color: #f4b824;
    font-size: 18px;
}
@media screen and (min-width: 1050px) {
    #gif{
        flex: 50%;
        max-width: 70%;
        width: 68.7%;
        margin-left: 25px;
    }
    #columnImg {
        flex: 50%;
        max-width: 35%;
        height: fit-content;
        /* background-color: rgb(126, 35, 35); */
      }

    img{
        width: 100%;
        /* margin-bottom: 18px; */
    }
    h2,h3,h4{
        width: 100%;
        font-size: 18px;
    }
    
    #columnText{
        flex: 30%;
        max-width: 30%;
        height: fit-content;
        position: fixed;
        right: 0px;
        padding: 0 28px;
        /* background-color: rgb(240, 221, 12); */
    }
    .row{
        height: fit-content;
    }
    #row2{
        /* background-color: rgb(64, 16, 236); */
        padding-left: 28px;
        position: relative;
    }
}


@media screen and (min-width: 601px) and (max-width:1049px){
    #columnImg {
        flex: 50%;
        max-width: 50%;
       
        /* background-color: rgb(126, 35, 35); */
      }
    #columnText{
        flex: 100%;
        max-width: 100%;
        height: fit-content;
        padding-top: 16px;

        /* background-color: rgb(240, 221, 12); */
       
    }
}

@media screen and (max-width: 600px) {
    .column {
        flex: 100%;
        max-width: 100%;
    }
    #row2{
        /* background-color: rgb(64, 16, 236); */
        margin-bottom: 5rem;
    }
   
    img{
        width: 100%;
        margin-bottom: 18px;
    }
    #columnText{
        padding: 0 8px; 
        /* background-color: rgb(219, 23, 23); */
    }
}