
<div class="row d-flex justify-content-center" *ngIf="deviceXs">
    <h1>UAY BALAM</h1>
</div>
<div class="row">
    <div class="column" id="columnText">
        <h2>UAY BALAM</h2>
        <h3 class="text-muted">Conceptualization, art direction, co-production, product design, communication and copywriting.</h3>
        <h3 class="text-muted">2016 - 2019</h3>
        <h4>
          <a href="https://www.uaybalam.com/">Uay Balam </a> is a registered trademark founded in Vila de Gràcia of Barcelona in 2016 by pastry 
            chef <a href="https://www.instagram.com/nuriacitoula/">Nuria Citoula</a>  and I with the mission of bringing to reality our vision
            of a gastronomic heaven; a complete experience around dessert and ice cream.
        </h4>
        <h4>
            The Uay Balam manifesto since day one;
            High quality ingredients, handmade elaboration processes and beautiful products.
        </h4>
        <h4>
            Logo and graphic design by <a href="https://www.wearealucina.com/">Alucina</a>.
        </h4>
    </div>
    <div class="column" id="">
        <img src="assets/imgs/art/art-direction/uay-balam/uay-balam-social-media.gif" alt="uay balam social media" id="gif">
    </div>
    <div class="row" id="row2">
        <div class="column" *ngFor="let i of numArr" id="columnImg">
            <img src="assets/imgs/art/art-direction/uay-balam/uay-balam-{{i}}.jpg">
        </div>
        
    </div>
  
</div>
