      <div class="row" id="subHeader">
        <div class="col-12 text-center" >
            <h2>Uay Balam</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8">
            <h3>WordPress + WooCommerce</h3>
            <p>
                <a href="http://uaybalam.com/">uaybalam.com</a> is an e-commerce 
                website for Uay Balam, a Barcelona based brand that produces artisan ice cream and 
                desserts. It was built with WordPress, 
                the open-source content management system developed in PHP, 
                plus the ecommerce plugin for WordPress called WooCommerce.
            </p>
            <p>There are many benefits of using this popular website builder.</p>
            <ul>
                <li>
                   <p>It is FREE!</p>
                </li>
                <li>
                    <p>It’s very easy to use.</p>
                </li>
                <li>
                    <p>Very powerful and extensible.</p>
                </li>
                <li>
                    <p>Lots of plugins that will allow you make great things.</p>
                </li>
                <li>
                    <p>100% customisable, you can make it your own.</p>
                </li>
                <li>
                    <p>Multiple users and administrators.</p>
                </li>
                <li>
                    <p>Scalable. If your business grows fast you are covered.</p>
                </li>
            </ul>
        </div>
    </div>