@font-face {
  font-family: "Avenir";
  src: url("../assets/fonts/Avenir-Black-03.ttf") format("truetype");

  font-weight: bolder;
}
@font-face {
font-family: "Avenir";
  src: url("../assets/fonts/Avenir-Heavy-05.ttf") format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: "Avenir";
  src: url("../assets/fonts/Avenir-Book-01.ttf");
  font-weight: lighter;
}
@font-face {
  font-family: "Avenir";
  src: url("../assets/fonts/Avenir-Medium-09.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.page-wrap{
  padding-top: 80px;
  padding-bottom: 60px;
}
@media screen and (max-width: 376px){
  .page-wrap{
    padding-top: 130px;
    padding-bottom: 60px;
    /* background-color: rgb(119, 178, 218); */
  }
}