
<div class="row d-flex justify-content-center" *ngIf="deviceXs">
    <h1>INSTANTE NO DECISIVO</h1>
</div>
<div class="row" id="row2">
    <div class="column" *ngFor="let i of numArr" id="columnImg">
        <img loading="lazy" src="assets/imgs/art/personal/instante-no-decisivo/instante-no-decisivo-{{i}}.jpg">
        <!-- <div *ngIf="i== 3 || i== 19 || i==27 || i==32 || i==39 || i==42 || i==49
        || i==55 || i==61 || i==72" class="blank">

        </div> -->
    </div>
    <div class="column" id="columnText">
        <h2>INSTANTE NO DECISIVO</h2>
        <h3 class="text-muted">Series of photographs</h3>
        <h3 class="text-muted">2012 - 2019</h3>
        <p>
            Non-decisive moment: an instant that is not relevant.
            A moment that get lost on the way to History. Piece of 
            existence that is ignored, containing things left unsaid. 
            What does not prevail and dies in the shadow of what is widely considered as important.
        </p>
        <p>
            “INSTANTE NO DECISIVO” (ENG: “Non-decisive instant”) is a project of 
            presence, proximity and resistance. An exercise of exploration and 
            documentation of the untold History.
        </p>
        <p>Work still in progress.</p>
    </div>
</div>