      <div class="row" id="subHeader">
        <div class="col-12 text-center" >
            <h2>Rocket controller</h2>
            
        </div>
    </div>
    <div class="row" id="p1">
        <div class="col-sm-8">
            <h3>Let the race begin</h3>
            <p>
                This app gets you closer to your dream of being an astronaut 
                and pilot your own rocket. How about that?
            </p>
            <p> 
                First you should create your rocket. Once your brand new rocket
                 is created it will be identified by an 8-character code and a 
                 number of thrusters will be assigned.
                Also, you can create two rockets and organise a rocket race.
                Rocket 1 will always have 3 thrusters and Rocket 2 will have 6 thrusters.
            </p> 
            <p> 
                Now you are ready to launch your spacecraft! Accelerate and 
                decelerate by pressing the corresponding as.
                Be aware that the maximum speed of your rocket is limited by the power of its thrusters. 
            </p> 
            <p>Rocket 1: 3 thrusters with a maximum  power of 10, 30 and 80.</p> 
                
            <p>Rocket 2: 6 thrusters with a maximum power of 30, 40, 50, 50, 30 and 10.</p> 
            
        </div>
    </div>
    <div class="row" id="gif">
        <div class="col-sm-8">
            <img loading="lazy" src="assets/imgs/devs/rocketsDemo.gif" alt="rocket controller gif demo">
        </div>
    </div>
    <div class="row" id="p2">
        <div class="col-sm-8">
            <h3>HTML5 + CSS3 + TypeScript</h3>
            <p>
                This approach is the result of an object-oriented programming (OOP) 
                exercise built with HTML5, CSS3, Bootstrap and TypeScript (ES6) 
                for the Front End Programme @ IT Academy [Cybernarium | 
                Barcelona Activa].
            </p>
            <p> 
                The goal of this project is to implement the Model View Controller (MVC) 
                design pattern in order to distribute the application's code in their own 
                containers. A neat and clean organisation of the components that will make 
                life easier. Also, dealing with variables, conditionals, loops and arrays 
                was a point of building this little app.
            </p>

        </div>
    </div>
    <div class="row" id="rowBtn">
        <div class="col-sm-8 text-center">
            <a href='https://github.com/fausto-luna/rockets_OOP_TypeScript' class="btn btn-outline-dark">See Code on Github</a>
        </div>
    </div>