
.row{
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}
#subHeader{
    
    margin-top: 1rem;
    /* background-color: rgb(44, 153, 226); */
}
img{
    width: 100%;
    border: 1px solid gray;
    border-radius: 5px;
}
a{
    margin-bottom: 4rem;
}
