
<div class="row d-flex justify-content-center" *ngIf="deviceXs">
    <h2>LUZ PRIMERA</h2>
</div>
<div class="row" id="row2">
    <div class="column" *ngFor="let i of numArr" id="columnImg">
        <img src="assets/imgs/art/personal/luz-primera/luz-primera-{{i}}.jpg">
    </div>
    <div class="column" id="columnText">
        <h2>LUZ PRIMERA</h2>
        <h3 class="text-muted">Series of 35mm film photographs</h3>
        <h3 class="text-muted">2008 - 2011</h3>
        <h4>
            "LUZ PRIMERA" (ENG: "First Light" ) is an intimate approach to my own life driven 
            by the feeling of melancholy. During this period of time, photography 
            played the role of survival mechanism, the reflex act of clinging to 
            the ephemeral matter of an instant.
        </h4>
        <h4>
            This work is the proof of the birth of my photographic gaze, the first 
            light that breaks the darkness of unconsciousness. A collection of
            memories caused by the sweet pain I feel when watching my time slip 
            like sand through my fingers. 
        </h4>
    </div>
</div>