
   
    
    <div class="row d-flex justify-content-center" *ngIf='deviceXs'>
        <h1>LA CORNISA</h1>
    </div>
    <div class="row" id="row2">
        <div class="column" *ngFor="let i of numArr" id="columnImg">
            <img loading="lazy" src="assets/imgs/art/personal/la-cornisa/la-cornisa-{{i}}.jpg">
        </div>
        <div class="column" id="columnText">
            <h2>LA CORNISA</h2>
            <h3 class="text-muted">Series of photographs</h3>
            <h3 class="text-muted">2011</h3>
            <h4>I kept wandering around town all day long during approx 8 months almost every day, 
                collecting walk-mates on the streets. I have never actually met them.
                I’d rather imagine their stories, the stories that their images tell.
            </h4>
            <h4>
                Once I could become invisible I began to see the invisibles.
            </h4>
        </div>
        
    </div>

