
#halfMoon2 {
    /* margin: 40px auto 0; */
    width: 40px;
    height: 40px;
    border-radius: 100%;
    /* display: inline-block; */
    color: white;  
  }
  
  #halfMoon2:hover{
    transform: scale(1.2);
    transition: all 0.3s ease-in-out;
  }
  #halfMoon2:hover:before{
    border-left: 2px solid rgb(255, 255, 255);
    border-top: 2px solid rgb(255, 255, 255);
    border-bottom: 2px solid rgb(255, 255, 255);
  }
  #halfMoon2:hover:after{
    border-right: 2px solid rgb(255, 255, 255);
    border-top: 2px solid rgb(255, 255, 255);
    border-bottom: 2px solid rgb(255, 255, 255);
  }
  
  #halfMoon2:before, #halfMoon2:after {
    content: "";
    width: 20px;
    height: 40px;
  }
  #halfMoon2:before {
    float: left;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background: #d3d2d2;
 
    
  }
  #halfMoon2:after {
    float: right;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background: #000000;
    
}

  /* tultip container */
.tultip {
    color: #000000;
    position: relative;
    display: inline-block;
    
  }
  
  
  /* tultip text */
  .tultip .tultiptext {
    visibility: hidden;
    width: 120px;
    
    color: black;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
   
    /* Position the tultip text - see examples below! */
    position: absolute;
    z-index: 1;
  
    width: 120px;
    top: 100%;
    left: 50%;
    margin-left: -60px; /* Use half of the width (120/2 = 60), to center the tooltip */
    margin-top: 3mm;
  }
  
  /* Show the tultip text when you mouse over the tultip container */
  .tultip:hover .tultiptext {
    visibility: visible;
  }