
<div class="row d-flex justify-content-center" *ngIf="deviceXs">
    <h1>FÁCIL - MALDITA NEREA</h1>
</div>
<div class="row" id="row2">
    <div class="column" *ngFor="let i of numArr" id="columnImg">
        <img loading="lazy" src="assets/imgs/art/event/facil-maldita-nerea/facil-maldita-nerea-{{i}}.jpg">
    </div>
    <div class="column" id="columnText">
        <h2>FÁCIL - MALDITA NEREA</h2>
        <h3 class="text-muted">Photographs</h3>
        <h3 class="text-muted">2011</h3>
        <p>
            Pictures taken during the shooting of the official videoclip of the 
            single "Fácil" by spanish music band <a href="https://www.malditanerea.com/">Maldita Nerea</a>.
        </p>
    </div>
</div>