@media screen and (max-width: 425px){
 
  .icon{
    margin: 20px;
    align-content: space-around;
    justify-content: center;
    /* background-color: rgb(201, 24, 24); */
    
   }

}
@media screen and (min-width: 426px){
  ul{
    justify-content: center;
    display: inline-table;
  }
  .icon{
    margin: 4vw;
    align-content: space-around;
    justify-content: center;
    
   }
}

  