
  h1{
    font-size: 18px;
    /* font-size: 1.8vw;  */
    font-weight: bolder;
    /* margin-top: 5vh; */
    letter-spacing: 4px;
    /* letter-spacing: 0.2vw; */
    /* margin-top: 11mm; */
    height: fit-content;
    width: fit-content;
    /* background-color: rgb(53, 235, 17); */
    align-self: center;
  }
  
  a{
      color: black;
  }