
.row{
  /* background-color: tomato; */
  height: 80vh;
  width: 100%;
  margin: unset;
  padding: unset;
  
}
.col{
  /* background-color: rgb(79, 231, 44); */
  display: flex;
  justify-content: center;
  align-content: space-around;
  align-items: center;
  width: fit-content;


}
@media only screen and (max-width:375px){
 .row{
  height: 70vh;
 } 

}
@media only screen and (min-width:1440px){
  .row{
   height: 82vh;
  } 
 
 }

