
a:hover{
  border: 2px solid rgb(255, 255, 255);
  transform: scale(1.2);
  transition: all 0.3s ease-in-out;
  
}
#sun{
    height: 40px;
    width: 40px; 
    /* background-color: #fac024; */
    background-color: #f4b824;
    border-radius: 50%;
    /* display: inline-block; */
    color: white;
  }


/* tultip container */
.tultip {
    color: #000000;
    position: relative;
    display: inline-block;
    
  }
  
  
  /* tultip text */
  .tultip .tultiptext {
    visibility: hidden;
    width: 120px;
    
    color: black;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
   
    /* Position the tultip text - see examples below! */
    position: absolute;
    z-index: 1;
  
    width: 120px;
    top: 100%;
    left: 50%;
    margin-left: -60px; /* Use half of the width (120/2 = 60), to center the tooltip */
    margin-top: 3mm;
  }
  
  /* Show the tultip text when you mouse over the tultip container */
  .tultip:hover .tultiptext {
    visibility: visible;
  }