 
 <div class="row d-flex justify-content-center" *ngIf='deviceXs'>
     
    <h1>LAST DAY ON EARTH</h1>
 </div>
    <div class="row" id="row2">
        <div class="column" *ngFor="let i of numArr" id="columnImg">
            <img loading="lazy" src="assets/imgs/art/personal/last-day-on-earth/last-day-on-earth-{{i}}.jpg">
        </div>
        <div class="column" id="columnText">
            <h2>LAST DAY ON EARTH</h2>
            <h3 class="text-muted">Photographs, videos and texts.</h3>
            <h3 class="text-muted">2017-2020</h3>
            <p> 
                What would you do in your last day on earth?
                This project was born out of this question. 
                What would you do? How would you spend your last day on this planet?
                Contemplation. I personally want to contemplate reality, 
                nature, and peacefully feel all that beauty.
            </p>
            <p>
                “LAST DAY ON EARTH” is this imaginary space where I contemplate 
                what is around me with no other intention than trying to connect 
                with the Now. To be present. Here and now all the beauty is part 
                of me, and I am part of everything.
            </p>
            <p>
                Work still in progress.
            </p>
                
                
        </div>
    </div>
    

 

